<p>Hi {{ username }},</p>

<p>Thank you for joining our mission to enable ideas too brilliant for common sense.</p>

<p>Bad Ideas helps YOU achieve your one-of-a-kind ideas by</p>
<ul>
    <li>Connecting your brilliant ideas with people who appreciate them.</li>
    <li>Helping you find the supplies and know-how to turn an idea into a reality.</li>
</ul>

<p>It's up to <b>you</b> and your fellow beta users to define <a href="badideas.me">BadIdeas.me</a> with the
    ingenuity of your ideas/projects and the excellence of your conduct.</p>

<p>Get started:</p>
<ol>
<li><a href='badideas.me/find'>Browse</a> and support interesting ideas in action</li>
<li><a href='badideas.me/share'>Share</a> ideas on/off the drawing board </li>
<li><a href='badideas.me/help'>Post</a>  a help request to connect with the resources you need</li>
</ol>
<p>Thank you!</p>

<p>The BadIdeas Guys
<br/>
<a href='twitter.com/thebadideasguys'>@theBadIdeasGuys</a>
</p>